@font-face {
  font-family: "SansBold";
  src: url("../fonts/GmarketSansTTFBold.ttf") format("truetype");
}

@font-face {
  font-family: "SansLight";
  src: url("../fonts/GmarketSansTTFLight.ttf") format("truetype");
}

@font-face {
  font-family: "SansMedium";
  src: url("../fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../fonts/AppleSDGothicNeoB.ttf") format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../fonts/AppleSDGothicNeoEB.ttf") format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoH";
  src: url("../fonts/AppleSDGothicNeoH.ttf") format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("../fonts/AppleSDGothicNeoL.ttf") format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url("../fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url("../fonts/AppleSDGothicNeoR.ttf") format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url("../fonts/AppleSDGothicNeoSB.ttf") format("truetype");
}

@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url("../fonts/AppleSDGothicNeoT.ttf") format("truetype");
}