@tailwind base;
@tailwind components;
@tailwind utilities;

body    { font-family: 'NanumSquare', sans-serif; }
/* .normal	{ font-weight: 600 }
.bold		{ font-weight: 700 }
.bolder	{ font-weight: 800 }
.light	{ font-weight: 400 } */